<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="vue">
    <input type="text" v-model="firstname">
    <input type="text" v-model="lastname">
    <input type="text" v-model="enname">
    {{fullname()}}
</div>
</body>
</html>
<script>
    var vm=new Vue({
        el:"#vue",
        data:{
            firstname:"王",
            lastname:"琦",
            enname:"wangqi",
        },
        methods:{
            fullname(){
                return this.firstname+this.enname;
            }
        }
//        computed:{

//        }
    })
</script>